.container {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    width: 35%;
    height: 500px;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.inputs input {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.todos {
    overflow-y: auto;
    max-height: 450px;
    padding: 10px;
}

.todoCard {
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoCard p {
    margin: 0;
}

@media (max-width: 600px){
  .container {
      width: 85%
   }
}
